/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
  --ff-primary: 'Rubik', sans-serif;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: var(--ff-primary);
  font-size: 18px;
  transition: 0.3s all ease-in;
}

img {
  width: 100%;
  display: block;
}

main {
  min-height: 100vh;
}

input:focus,
input:active {
  outline: none;
}

/*
=============== 
Header
===============
*/

header {
  background-image: url('./images/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  height: 15rem;
}

.header-title {
  color: var(--white);
  font-weight: 500;
}

.header-form {
  position: relative;
  margin-top: 1rem;
}

.header-form input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 3.5rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-family: var(--ff-primary);
  color: var(--very-dark-gray);
}
.header-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border: none;
  background-color: var(--very-dark-gray);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.header-btn img {
  height: 0.75rem;
  width: 0.75rem;
}

.info-container {
  width: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.single-info {
  margin-bottom: 1rem;
}

.single-info p {
  color: var(--dark-gray);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.single-info h2 {
  color: var(--very-dark-gray);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.underline {
  height: 4rem;
  border-left: 2px solid var(--dark-gray);
  display: none;
}

@media screen and (min-width: 800px) {
  .info-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }

  .single-info {
    margin-bottom: 0;
  }

  .header-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .info-container {
    text-align: left;
  }
  .underline {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .info-container {
    padding: 3rem 3rem;
  }
  .info-container p {
    font-size: 0.75rem;
  }
  .info-container h2 {
    font-size: 1.5rem;
  }
  .header-container {
    width: 75vw;
  }
  header {
    background-image: url('./images/pattern-bg-desktop.png');
  }
}
/*
=============== 
Map
===============
*/

.leaflet-container {
  height: calc(100vh - 15rem);
  z-index: -1;
}
